.footer-container {
  background-color: blue;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 8px;
}

.footer-container h5,
.footer-container h6,
.footer-container p {
  color: white; /* Ensure all text is white */
}

.nav-pills .nav-item {
  margin-bottom: 20px; /* Add some spacing between items */
}

.nav-pills .nav-item h5 {
  margin-bottom: 10px;
}

.fade-in {
  animation: fadeIn 2s ease-in;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
